Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: firefox
Suggests: oracle-java8-installer
Description: [[description]]
Maintainer: andoni.delolmo@gmail.com
